.formBorder {
  font-family: "Open Sans";
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #9e9e9e;
}

.formtableBorder {
  font-family: "Open Sans";
  border-radius: 15px 15px 15px 15px !important;
  border: 1px solid #9e9e9e;
  box-shadow: 15px 15px 15px #cad4d7;
}

.transparent_background{
background-color: white;
}

.outerBorder {
  font-family: "Open Sans";
  border-radius: 15px 15px 15px 15px !important;
  box-shadow: 15px 15px 15px #cad4d7;
}

.leftouterBorder {
  font-family: "Open Sans";
  border-radius: 15px 0px 0px 15px !important;
}
.rightouterBorder {
  font-family: "Open Sans";
  border-radius: 0px 15px 15px 0px !important;
}

.buttonClass {
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #9e9e9e;
  margin: 5px;
  background-color: rgb(233, 246, 249);
  color: black;
}

.selectFilter {
  // border-radius: 10px 10px 10px 10px;
  // border: 1px solid #9e9e9e;
  margin: 5px;
  background-color: transparent;
  color: black;
  text-align-last: center;
}

.buttonClass:hover {
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #9e9e9e;
  margin: 5px;
  background-color: grey;
  color: black;
}
.buttonClass-active {
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #9e9e9e;
  margin: 5px;
  background-color: #00b6ed;
  color: black;
}

.section-padding {
  padding: 1.8rem;
}

.filter-scroll {
  height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch2 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.round {
  cursor: pointer;
  text-indent: -9999px;
  width: 40%;
  height: 40px;
  background: #9e9e9e;
  display: block;
  border-radius: 100px;
  position: relative;
}
.plus_image {
  width: 5%;
  float: right;
  cursor: pointer;
}
.round:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.switch:checked + .round {
  background: #33ad6a;
}

.switch:checked + .round:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.switch2:checked + .round {
  background: #33ad6a;
}

.switch2:checked + .round:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.round:active:after {
  width: 30px;
}

.d-flex > .add-btn {
  border-radius: 15px 15px 15px 15px !important;
  border: 1px solid #9e9e9e !important;
  margin: 5px !important;
  background-color: #9e9e9e !important;
  color: black !important;
  font-size: small;
}
.select_dropdown {
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #9e9e9e;
  margin: 5px;
  background-color: rgb(233, 246, 249);
  margin-bottom: 200px;
}

.ag-row-no-focus {
  background-color: #e9f6f9 !important;
}
.ag-theme-alpine .ag-row-odd,
.ag-theme-alpine .ag-row-even {
  background-color: #e9f6f9 !important;
}

.ag-header-cell-label > span > svg {
  display: none !important;
}

.ag-theme-alpine .ag-paging-panel {
  border-bottom: none !important;
}

@media (min-width: 320px) and (max-width: 924px) {
  .filterButton {
    width: 50% !important;
  }

  .filterHeight {
    height: 65vh !important;
  }
  .plus_image {
    width: 5%;
    float: right;
    cursor: pointer;
  }
}

.view_all_filter {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 770px) {
  .filter-scroll {
    height: 53vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .body-container {
    padding: 30px;
  }
  .outerBorder {
    box-shadow: none;
  }
  .round {
    height: 26px;
  }
  .round::after {
    top: 3px;
    width: 20px;
    height: 20px
  }
}


@media (min-width: 320px) and (max-width: 460px) {
  .plus_image {
    width: 10%;
    float: right;
    cursor: pointer;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .btn {
    font-size: 14px;
  }
  .plus_image {
    width: 5%;
    float: right;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .steps_Search {
    width: 90% !important;
  }
}

.filter-scroll::-webkit-scrollbar {
  width: 8px;
}

.filter-scroll::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.filter-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #9e9e9e;
}
