$color-white: #ffffff;
$color-blue: #00B6ED;
$color-green: #33AD6A;
$color-grey: #414141;
$color-red: #E53A24;
$color-blue-light: #A3D3F2;
$color-green-light: #AFCE64;
$color-grey-light: #9E9E9E;
$color-light: #BEBEBE;